# Python
__pycache__/
*.py[cod]
*$py.class
venv/
app/venv/
*.log

# Databases & Keys
app/instance/cyberguard.db
app/instance/*.key
instance/cyberguard.db
instance/*.key

# Environments
.env
.venv
env/
ENV/

# IDEs
.vscode/
.idea/
.DS_Store
